

.profil {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.profil .profil1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .rectanglepath {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 242px;
  height              : 930px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.profil .profil1 .header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 241px;
  height              : 937px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.profil .profil1 .header .rectangle {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 937px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .header .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 487px;
  height              : 244px;
  width               : 1173px;
  position            : absolute;
  margin              : 0;
  left                : 347px;
}
.profil .profil1 .header .content .role {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .username {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .no-identitas {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .nama {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 166px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 166px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .email {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .tempat-lahir {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .tanggal-lahir {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .no-hp {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 116px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .status {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 166px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 166px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .id-univ {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .header .content .lorem9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1100px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.65px;
  line-height         : 26.0px;
}
.profil .profil1 .lihat-artikel {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 510px;
  height              : 73px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 848px;
}
.profil .profil1 .lihat-artikel .button7 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 73px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.profil .profil1 .lihat-artikel .lihat-artikel1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.profil .profil1 .profil2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 340px;
  height              : 129px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 829px;
}
.profil .profil1 .profil2 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 7px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .profil2 .profil3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 90.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 108.0px;
}
.profil .profil1 .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 56px;
  width               : 1784px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.profil .profil1 .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 36px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.profil .profil1 .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 35px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.profil .profil1 .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 3px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.profil .profil1 .menu-bar .logo .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.profil .profil1 .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.profil .profil1 .menu-bar .p-rofil4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
  text-decoration     : underline;
}
.profil .profil1 .menu-bar .p-olling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 834px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.profil .profil1 .menu-bar .logout-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.profil .profil1 .menu-bar .logout-button .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.profil .profil1 .menu-bar .logout-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}