

.register2 {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.register2 .main-before-login {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .main-before-login .rectanglepath {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .main-before-login .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .main-before-login .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 56px;
  width               : 1784px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.register2 .main-before-login .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 36px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .main-before-login .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 35px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.register2 .main-before-login .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 3px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.register2 .main-before-login .menu-bar .login-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.register2 .main-before-login .menu-bar .login-button .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.register2 .main-before-login .menu-bar .login-button .l-ogin {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .main-before-login .menu-bar .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.register2 .main-before-login .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 419px;
  height              : 465px;
  width               : 822px;
  position            : absolute;
  margin              : 0;
  left                : 549px;
}
.register2 .main-before-login .content .logo2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 75px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 373px;
}
.register2 .main-before-login .content .logo2 .ellipse2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 72px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .main-before-login .content .logo2 .line2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : 7px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.register2 .main-before-login .content .register-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 394px;
  height              : 73px;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 283px;
}
.register2 .main-before-login .content .register-button .button2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 73px;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.register2 .main-before-login .content .register-button .mulai-sekarang {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .main-before-login .content .lorem-ipsum-dolor-si {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 216px;
  height              : auto;
  width               : 822px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .main-before-login .content .neewsco1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 108px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 72.0px;
}
.register2 .a2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .shade {
  background-color    : rgba(11, 49, 200, 0.65);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .register {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 195px;
  height              : 807px;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 627px;
}
.register2 .a2 .register .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 807px;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 30px;
}
.register2 .a2 .register .register-button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 668px;
  height              : 70px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
}
.register2 .a2 .register .register-button2 .button3 {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
}
.register2 .a2 .register .register-button2 .r-egister1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .a2 .register .form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 204px;
  height              : 399px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
}
.register2 .a2 .register .form .vector {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 298px;
  height              : 3px;
  width               : 413px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .register .form .vector2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 396px;
  height              : 3px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .register .form .vector3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 198px;
  height              : 3px;
  width               : 413px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .register .form .vector4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 99px;
  height              : 3px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .a2 .register .form .vector5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 3px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.register2 .univ-id {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 756px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 923px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .register22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 278px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 893px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .status {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 656px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 929px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .identity-number {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 556px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 885px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .phone-number {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 456px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 890px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.register2 .email {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 353px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 934px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}