

.see-rating-comment {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.see-rating-comment .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 242px;
  height              : 930px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.see-rating-comment .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 56px;
  width               : 1784px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.see-rating-comment .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 36px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 35px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.see-rating-comment .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 3px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.see-rating-comment .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
  text-decoration     : underline;
}
.see-rating-comment .menu-bar .p-rofil {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .menu-bar .p-olling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 834px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .menu-bar .logout-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.see-rating-comment .menu-bar .logout-button .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.see-rating-comment .menu-bar .logout-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .menu-bar .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.see-rating-comment .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 799px;
  height              : 318px;
  width               : 1515px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
}
.see-rating-comment .content .lorem-ipsum-dolor-si {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.see-rating-comment .content .news-title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.see-rating-comment .content .lorem-ipsum-dolor-si1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 51px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.see-rating-comment .content .news-title1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 849px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.see-rating-comment .content .buttons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 269px;
  height              : 49px;
  width               : 1123px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
}
.see-rating-comment .content .buttons .review {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 48px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
}
.see-rating-comment .content .buttons .review .button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 48px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 17px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.see-rating-comment .content .buttons .review .r-eview1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 16.0px;
}
.see-rating-comment .content .buttons .view {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .content .buttons .view .button3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 17px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.see-rating-comment .content .buttons .view .v-iew1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 16.0px;
}
.see-rating-comment .content .buttons .review2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 993px;
}
.see-rating-comment .content .buttons .review2 .button21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 17px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.see-rating-comment .content .buttons .review2 .r-eview3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 16.0px;
}
.see-rating-comment .content .buttons .view2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 838px;
}
.see-rating-comment .content .buttons .view2 .button31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 17px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.see-rating-comment .content .buttons .view2 .v-iew3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 16.0px;
}
.see-rating-comment .header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 456px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.see-rating-comment .header .rectangle {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 456px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .header .buat-berita-button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 270px;
  height              : 73px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 821px;
}
.see-rating-comment .header .buat-berita-button2 .button7 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 73px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.see-rating-comment .header .buat-berita-button2 .buat-berita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .header .berita1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 100px;
  height              : 129px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 799px;
}
.see-rating-comment .header .berita1 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 7px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.see-rating-comment .header .berita1 .berita2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 90.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 108.0px;
}
.see-rating-comment .see-rating-comments {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 1202px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .see-rating-comments .review4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1202px;
  width               : 1920px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .see-rating-comments .review4 .shade {
  background-color    : rgba(11, 49, 200, 0.65);
  top                 : 0px;
  height              : 1202px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.see-rating-comment .see-rating-comments .review4 .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 135px;
  height              : 930px;
  width               : 634px;
  position            : absolute;
  margin              : 0;
  left                : 644px;
  border-radius       : 30px;
}
.see-rating-comment .see-rating-comments .review4 .rectangle2 {
  background-color    : rgba(242, 242, 242, 1.0);
  top                 : 318px;
  height              : 663px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 1228px;
  border-radius       : 2px;
}
.see-rating-comment .see-rating-comments .review4 .rectangle21 {
  background-color    : rgba(189, 189, 189, 1.0);
  top                 : 318px;
  height              : 126px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 1228px;
  border-radius       : 2px;
}
.see-rating-comment .see-rating-comments .review4 .vector {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 393px;
  height              : 3px;
  width               : 462px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
}
.see-rating-comment .see-rating-comments .review4 .vector2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 603px;
  height              : 3px;
  width               : 462px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
}
.see-rating-comment .see-rating-comments .review4 .lorem-ipsum-dolor-s {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 415px;
  height              : auto;
  width               : 464px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 24.0px;
}
.see-rating-comment .see-rating-comments .review4 .users-name {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 353px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .see-rating-comments .review4 .lorem-ipsum-dolor-s1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 625px;
  height              : auto;
  width               : 464px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 24.0px;
}
.see-rating-comment .see-rating-comments .review4 .users-name1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 563px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .see-rating-comments .review4 .lorem-ipsum-dolor-s2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 837px;
  height              : auto;
  width               : 464px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 24.0px;
}
.see-rating-comment .see-rating-comments .review4 .users-name2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 775px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.see-rating-comment .see-rating-comments .review4 .vector3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 817px;
  height              : 3px;
  width               : 462px;
  position            : absolute;
  margin              : 0;
  left                : 722px;
}
.see-rating-comment .see-rating-comments .review4 .news-title2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 243px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 875px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.see-rating-comment .see-rating-comments .review4 .rating5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 199px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 909px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.33px;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}