

.tambah-rating {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.tambah-rating .view-berita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1077px;
  height              : 2433px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 2433px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 193px;
  height              : 2197px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.tambah-rating .view-berita .scroll {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 267px;
  height              : 1714px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 1832px;
}
.tambah-rating .view-berita .scroll .rectangle2 {
  background-color    : rgba(242, 242, 242, 1.0);
  top                 : 0px;
  height              : 1714px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.tambah-rating .view-berita .scroll .rectangle21 {
  background-color    : rgba(189, 189, 189, 1.0);
  top                 : 0px;
  height              : 321px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.tambah-rating .view-berita .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2143px;
  height              : 63px;
  width               : 575px;
  position            : absolute;
  margin              : 0;
  left                : 672px;
}
.tambah-rating .view-berita .button .rate-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .button .rate-button .button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.tambah-rating .view-berita .button .rate-button .r-ate {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : 12px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.tambah-rating .view-berita .button .review-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 401px;
}
.tambah-rating .view-berita .button .review-button .button3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.tambah-rating .view-berita .button .review-button .r-eview {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : 12px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.tambah-rating .view-berita .button .rate-button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
}
.tambah-rating .view-berita .button .rate-button2 .button4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.tambah-rating .view-berita .button .rate-button2 .c-omment {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 13px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
}
.tambah-rating .view-berita .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 68px;
  height              : 57px;
  width               : 1785px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
}
.tambah-rating .view-berita .menu-bar .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 19px;
  height              : 20px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
}
.tambah-rating .view-berita .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 37px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 36px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.tambah-rating .view-berita .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 4px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.tambah-rating .view-berita .menu-bar .p-rofil {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 14px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 1042px;
}
.tambah-rating .view-berita .menu-bar .p-olling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 14px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 842px;
}
.tambah-rating .view-berita .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 21px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
}
.tambah-rating .view-berita .menu-bar .b-erita .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 14px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.tambah-rating .view-berita .menu-bar .b-erita .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 4px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .menu-bar .log-out-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 57px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.tambah-rating .view-berita .menu-bar .log-out-button .button5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 57px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.tambah-rating .view-berita .menu-bar .log-out-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 14px;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
}
.tambah-rating .view-berita .frame {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 315px;
  height              : 1670px;
  width               : 1346px;
  position            : absolute;
  margin              : 0;
  left                : 285px;
}
.tambah-rating .view-berita .frame .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : 1488px;
  width               : 1347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .frame .content .overview {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 152px;
  width               : 1341px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.tambah-rating .view-berita .frame .content .overview2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 212px;
  height              : 1276px;
  width               : 1346px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .frame .title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 102px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 580px;
}
.tambah-rating .view-berita .frame .title .title2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 102px;
  width               : 196px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .view-berita .frame .title .title2 .shape2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.tambah-rating .view-berita .frame .title .title2 .shape3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 96px;
  height              : 6px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.tambah-rating .tambah-rating {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .tambah-rating .shade {
  background-color    : rgba(11, 49, 200, 0.65);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.tambah-rating .tambah-rating .rating {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 372px;
  height              : 364px;
  width               : 635px;
  position            : absolute;
  margin              : 0;
  left                : 642px;
}
.tambah-rating .tambah-rating .rating .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 364px;
  width               : 635px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 30px;
}
.tambah-rating .tambah-rating .rating .kirim-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 250px;
  height              : 57px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 238px;
}
.tambah-rating .tambah-rating .rating .kirim-button .button31 {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 57px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
}
.tambah-rating .tambah-rating .rating .kirim-button .s-ubmit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 19px;
  height              : auto;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.tambah-rating .tambah-rating .rating .vector {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 200px;
  height              : 2px;
  width               : 403px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.tambah-rating .r-ating1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 925px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.tambah-rating .your-rating {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 540px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 904px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}